main {
  display: grid;
  grid-template-rows: 0.5fr 1fr 6fr;
  justify-items: start;
  align-items: center;
  padding: 10px;
  gap: 5px;
  height: 85vh;
  width: 100%;

  p {
    color: var(--color-headline-gray);
    font-size: 0.8rem;
    justify-self: center;
    align-self: start;
    cursor: pointer;
  }

  p:hover {
    color: white;
  }

  .player-message {
    background-color: white;
    height: 45px;
    width: 350px;

    border-radius: 35px;
    position: relative;
  }

 
}
