.inner {
  animation: pulse 1s ease-in-out infinite;
}

.outer {
  animation: pulse 1s ease-in-out 0.15s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.neon {
  filter: drop-shadow(0 0 2px hsla(0, 0%, 41%, 90%)) drop-shadow(0 0 10px hsla(0, 0%, 41%, 50%));
}
