

@keyframes bounce {
  0% {
    transform: scale(0.96);
  }

  50% {
    transform: scale(1.11);
  }

  100% {
    transform: scale(0.96);
  }
}

img {
  width: 200px;
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  input {
    border-radius: 25px;
    height: 40px;
    width: 300px;
    border: none;
    text-align: center;
    font-size: 1.1rem;
  }

  button {
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px 12px 20px;
    background: linear-gradient(
      135deg,
      var(--color-light-green),
      var(--color-dark-green)
    );
  }
}

span {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  gap: 10px;
  position: relative;
  animation: appear 0.2s 1;
  transform-origin: bottom left;

  svg {
    width: 18%;
    animation: appear 0.2s 1;
  }
  

  svg:nth-of-type(1) {
    fill: var(--color-first-bubble);
    animation: bounce 1s infinite;
    
  }

  svg:nth-of-type(2) {
    fill: var(--color-second-bubble);
    animation: bounce 1s infinite 0.25s;
  }

  svg:nth-of-type(3) {
    fill: var(--color-third-bubble);
    animation: bounce 1s infinite 0.5s;
  }

}

span::after {
  content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: 0;
      left: -10px;
      background : linear-gradient(135deg, rgba(253, 235, 243, 1) 0%, rgba(247, 234, 243, 1) 11.24%, rgba(250, 241, 242, 1) 23.03%, rgba(255, 254, 240, 1) 35.39%, rgba(251, 251, 240, 1) 47.8%, rgba(240, 243, 242, 1) 59.52%, rgba(221, 229, 244, 1) 70.93%, rgba(220, 228, 244, 1) 71.35%, rgba(254, 233, 223, 1) 100%);
      border-radius: 10px;
      animation: appear 0.1s 1;
      transform-origin: bottom left;
}

@keyframes appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}